.container {
    font-family: Arial, sans-serif;
    text-align: center;
}

.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.aboutUs, .services, .reservation, .contact, .hours, .footer {
    margin: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #21a1f1;
}

